<app-home-nav-bar></app-home-nav-bar>
<div class="container ssy-container">
    <div class="row">
        <div class="col-4">
            <div class="information-container">
                <app-user-personal-information></app-user-personal-information>
            </div>

            <div class="information-container mt-3">
                <app-user-personal-contact></app-user-personal-contact>
            </div>
        </div>
        <div class="col-8">
            <div class="profile-container">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>
</div>