<div class="tab-pane fade  show active px-3 py-3" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab"> 
    <div class="card info-block">
        <div class="card-header d-flex">
            <span class="title">Objetivo laboral</span>
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-primary mr-1" (click)="showEditObjetivo()"><i class="fa fa-edit"></i></button>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="descripcion">
                <span>{{this.people.objetive}}</span>
            </div>
        </div>
    </div>

</div>